# ⛔ Игнорируем виртуальное окружение
venv/
*.pyc
__pycache__/
*.pyo
*.pyd

# ⛔ Игнорируем конфиденциальные файлы
.env
config.json
secrets.json
credentials.json

# ⛔ Игнорируем логи и кеши
*.log
logs/
*.sqlite3
db.sqlite3

# ⛔ Игнорируем временные файлы ОС
.DS_Store
Thumbs.db

# ⛔ Игнорируем файлы Docker
docker-compose.override.yml
.dockerignore

# ⛔ Игнорируем зависимости в IDE
.vscode/
.idea/
*.iml

# ⛔ Игнорируем файлы кэша
*.swp
*.swo