# ⛔ Игнорируем виртуальное окружение
venv/
*.pyc
__pycache__/
*.pyo
*.pyd

# ⛔ Игнорируем логи и кеши
*.log
logs/
*.sqlite3
db.sqlite3

# ⛔ Игнорируем временные файлы ОС
.DS_Store
Thumbs.db

# ⛔ Игнорируем зависимости в IDE
.vscode/
.idea/
*.iml

# ⛔ Игнорируем файлы кэша
*.swp
*.swo